#Estilo {
    background-color: rgba(71, 39, 189, 0.507);
}

#Titulo {
   text-align: center;
   font-size: 60px;
}

h3 {
    font-size: 30px;
}

#SubTits {
    font-size: 25px;
    text-align: center;
    margin-left: 26%;
    margin-right: 26%;
    margin-bottom: 50px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}


.lefties {
    /* background-color: rgba(97, 35, 155, 0.479); */
    margin-left: 15%;
}


.lefties h3 {
    text-align: center;
}


.righties {
    margin-left: 55%;
    padding-right: 10%;
}


.righties h3 {
    text-align: center;
}


.Difus{
    padding-top: 60px;
    padding-left: 27%;
    padding-right: 27%;
    text-align: center;
}

.items {
    width: 30%;
    padding: 0% 2% 2% 2%;
    background-color: rgba(97, 35, 155, 0.479);
}

.Cuadro {
    border: 2px;
    border-style: dashed;
    background-color: rgba(236, 76, 76, 0.692);
}

.ContenedorMascota {
    display: flex;
    margin-left: 4%;
    margin-right: 20%;
    padding-left: 5px;
    padding-right: 5px ;
}

#PrimeraParte{
    width : 445px;
    height: 300px;
}

#SegundaParte {
    background-color: white;
}

