/* INDEX */


body{
    margin: 0;
    background-image: url("../images/fondoPastel4.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
}

nav {
    position: relative;
}

.bodystyle {
    background-color: rgb(201, 126, 201);
}

.navbarGeneral {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 20pxpx; /* No se por que tiene que ser asi, pero si lo toco, explota*/
    margin-right: 0px;
    background-image: linear-gradient(to bottom, #dcd3ba, #c18e4c);
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-right: 20px;
}

.navbarPrimerDiv img{
    margin-right: 20px;
}

.navbarPrimerDiv a{
    color:rgb(101, 25, 172);
    transition: transform 0.3s ease;
}

.navbarPrimerDiv a:hover{
    color: rgb(68, 150, 150);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
}



.navbarSegundoDiv{
    margin-right: 20px;
}

.navbarSegundoDiv a{
    color:rgb(101, 25, 172);
    transition: transform 0.3s ease;
    animation: animacion1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.navbarSegundoDiv a:hover{
    color: rgb(68, 150, 150);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
}


@keyframes animacion3 {
    from {
        color: rgb(157, 117, 191); }
    to {
        color: rgb(63, 36, 104); } }

@keyframes animacion2 {
    from {
      background-color: rgb(181, 147, 210); }
    to {
       background-color: rgb(148, 97, 193); } }
  
@keyframes animacion1 {
    0% {
      transform: scale(1); }
    50% {
      transform: scale(1.1); }
    100% {
      transform: scale(1); } }

 @keyframes animacion4 {
        from {
            color: rgb(0, 0, 0); }
        to {
            color: #314652; } }
      


#unaIntro {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
 
.descripcionIntro{
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    color:rgb(14, 31, 185);
    padding-left: 18%;
    padding-right: 18%;
    margin-top: 20px;
}


.man {
    display: flex;
    justify-content: center;

}


.imagenTitulo img{
    width:50%;
    height:30%;
    min-width: 450px;
    min-height: 60px;
}

.botonAdoptar{
    padding: 30px;
}

.botonAdoptar a{
    background-color:rgb(181, 147, 210);
    font-size: 25px;
    font-weight: bold;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 4px solid aquamarine;
    animation-name: animacion2;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.botonAdoptar a:hover{
    background-color:rgb(148, 97, 193);
    border: 4px dashed aquamarine;
}


.botonContacto {
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    background-color: black;
    border: 2px double grey;
    width: 10%;
}



h1{
    text-align: center;
    color:rgb(153, 107, 196);
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

h2{
    text-align: center;
    color:rgb(153, 107, 196);
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;

}

.nuestrosPeludos h1{
    text-align: center;
    color: #314652;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    padding-top: 20px;
    align-items: center;
}

.botonAdoptar{
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
}

.botonAdoptar button{
    background-color: rgb(174, 115, 229);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.botonAdoptar button:hover{
    background-color: rgb(130, 49, 205);
}


.nuestrosPeludos{
    margin-top: 40px;
    background-color: rgba(202, 144, 150, 0.452);
    border-radius: 100px;
}

.merecenHogar{
    padding-bottom: 20px;
}

.textoAlbum{
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-size: 22px;
}


.mitades {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.mitad1{
    width: 40%;
    padding-left: 20px;
}

.mitad2{
    margin-right: 30px;
    width: 60%;
}



.contenedor1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 25px;
}

.contenedor1 td{
    text-align: center;
    font-family: "Architects Daughter", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
}

.contenedor1 img{
    border-radius: 90px;
    transition: transform 0.3s ease;
    width: 100px;
    height: 75px;
}

.contenedor1 img:hover {
    transform: scale(1.1);
}


.contenedor2 {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(216, 107, 19, 0.541);
}

.contenedor2 div{
    margin-bottom: 15px;
    
}

.contenedor2 form{
    padding: 20px;
}


h3{
    text-align: center;
    color:rgb(153, 107, 196);
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    margin: 0;
}

.redesSociales{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.buttonsRedes {
    min-width: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  
  .buttonsRedes a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .buttonsRedes a:hover {
    transform: scale(1.2);
  }

  .textoNuestrasRedes{
    color: #314652;
  }







.opiniones{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgba(17, 17, 121, 0.226);
}

.opiniones h3{
    font-size: 40px;
}

.comentarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(17, 17, 121, 0.226);
}

.comentarios1{
    min-width: 400px;
}
.comentarios2{
    min-width: 400px;
}
.comentarios3{
    min-width: 400px;
}



.comentarios1{
    padding-left: 2.5%;
    padding-right: 2%;
    width: 25%;

}

.comentarios2{
    padding-left: 2.5%;
    padding-right: 2%;
    width: 25%;
}

.comentarios3{
    padding-left: 2.5%;
    padding-right: 2%;
    width: 25%;
}

.cartas{
    padding: 12%;
    height: 450px;
}

.cartas .card{
    width: 17rem;
}

.carousel-control-prev span,
.carousel-control-next span{
    background-color: transparent;
}


.card-body{
    background-color: rgb(211, 128, 223);
}

.dudasConsultas h4{
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: #314652;
    padding-top: 40px;
}



.footer {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.811);
    background-color: rgba(29, 27, 27, 0.452);
}



@media (max-width: 1100px){
    .navbarSegundoDiv a{
        color:rgb(101, 25, 172);
        transition: none;
        animation: none;
    }

    .navbarPrimerDiv a:hover{
        transition: none;
        transform: none;
    }


    .navbarSegundoDiv a:hover{
        transition: none;
        transform: none;
    }

    .navbarSegundoDiv{
        margin-left: 13px;
    }

    .buttonsRedes {
        min-width: 0px;
        margin-top: 30px;
      }

      .buttonsRedes a {
        font-size: 28px;
      }

      .mitades {
        margin-right: 0;
    }
    .mitad1{
        padding-left: 0;
        padding-right: 30px;
    }

    .contenedor1 img{
        width: 85px;
        height: 60px;
    }

    .descripcionIntro{
        font-size: 24px;
    }

    .botonAdoptar a{
        font-size: 22px;
    }

    .merecenHogar{
        font-size: 30px;
    }
    
    .textoAlbum{
        font-size: 21px;
    }

    .nuestrosPeludos h1{
        font-size: 35px;
    }

    .dudasConsultas h4{
        font-size: 33px;
        padding-top: 30px;
    }

    .cartas .card{
        width: 16rem;
    }
    .comentarios1{
        padding-left: 5%;

    }
    
    .comentarios2{
        padding-left: 5%;
    }
    
    .comentarios3{
        padding-left: 5%;
    }

    .opiniones h3{
        font-size: 35px;
    }
    .card .card-text{
        font-size: 16px;
    }

}


@media (max-width: 700px){
    .buttons {
        min-width: 0;
        margin-top: 20px;
      }
      .buttonsRedes a {
        font-size: 28px;
      }
      .buttonsRedes{
        justify-content: center;
      }
      .margenAmpliadoDerecho{
        margin-right: 10px;
      }
      .margenAmpliadoIzquierdo{
        margin-left: 10px;
      }
      .contenedor1 img{
        width: 75px;
        height: 50px;
    }
    .descripcionIntro{
        font-size: 22px;
    }

    .botonAdoptar{
        padding: 10px;
    }

    .botonAdoptar a{
        font-size: 20px;
    }

    .merecenHogar{
        font-size: 25px;
    }
    
    .textoAlbum{
        font-size: 19px;
    }
    .nuestrosPeludos h1{
        font-size: 30px;
    }
    .dudasConsultas h4{
        font-size: 26px;
        padding-top: 20px;
    }
    .cartas .card{
        width: 14rem;
    }

    .comentarios1{
        padding-left: 9%;

    }
    
    .comentarios2{
        padding-left: 9%;
    }
    
    .comentarios3{
        padding-left: 9%;
    }

    .opiniones h3{
        font-size: 30px;
    }
    .card .card-text{
        font-size: 14px;
    }

}












/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */


/* LOGIN */



#bodyLogin{
    width: 100%;
    height: 1080px;
    background-image: url("../images/fondoRefugios2.jpg");
    background-image: fixed;
    background-size: cover;

}

.seccionLogin{
    padding-top: 150px;
}

.login-form {
    width: 500px;
    padding: 25px;
    background-image: linear-gradient(to bottom, #dcd3ba, #c18e4c);
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    font-family: "Kanit", sans-serif;
  }

  .btn-center{
    text-align: center;
  }

  .btn-center button{
    width: 100px;
    font-family: "Kanit", sans-serif;
  }

  .marginFormulario{ 
    margin-bottom: 15px;
  }
  
  .marginFormulario label{
    margin-bottom: 5px;
  }

  .bgvioleta{
    margin-bottom: 0;
  }

  .bgvioleta button{
    background-image: linear-gradient(to bottom, #b694bfd1, #4a2d55d1);
  }

  .bgvioleta a{
    color: #314652;
  }

  .marginFormulario button{
    margin-top: 10px;
  }


  @media (max-width: 700px){
    .login-form {
        width: 450px;
    }
  }



/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */


/* INFORMACION */

#bodyInformation{
    margin: 0;
    padding: 0;
}

#tituloInformacion {
   text-align: center;
   font-size: 60px;
   padding-top: 20px;
   padding-bottom: 30px;
}


.subTits {
    font-size: 23px;
    text-align: center;
    margin-left: 26%;
    margin-right: 26%;
    margin-bottom: 50px;
    font-family: "Kanit", sans-serif;
}

.subTits p{
    border-radius: 10px;
    background-color: rgba(236, 76, 76, 0.561);
    padding: 15px;
}


.bodyInformacion{
    background-color: rgba(207, 188, 190, 0.332);
}

.unirManoTexto{
    display: flex;
    justify-content: space-between;
}

.unirManoTexto p {
    padding-top: 10px;
    padding-left: 20px;
}

.unirManoTexto img{
    padding-right: 10px;
}


.lefties {
    margin-left: 15%;
}


.lefties h3 {
    text-align: center;
}


.righties {
    margin-left: 55%;
    padding-right: 10%;
}


.righties h3 {
    text-align: center;
}


.Difus{
    padding-top: 60px;
    padding-left: 27%;
    padding-right: 27%;
    text-align: center;
    margin-bottom: 30px;
}

.items {
    width: 30%;
    padding: 1% 2% 2% 1%;
    background-image: linear-gradient(to bottom, #d6baded1, #6a4777d1);
    border-radius: 15px;
    border: dotted;
    border-color: red;
    font-family: "Kanit", sans-serif;
    font-size: 18px;
}

.Cuadro {
    border: 2px;
    border-style: dashed;
    background-color: rgba(236, 76, 76, 0.561);
    padding-bottom: 15px;
    border-radius: 10px;
}

.Cuadro h3{
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

.megafonos{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.ContenedorMascota {
    display: flex;
    margin-left: 4%;
    margin-right: 20%;
    padding-left: 5px;
    padding-right: 5px ;
}

#PrimeraParte{
    width : 445px;
    height: 300px;
}

#SegundaParte {
    background-color: white;
}




@media (max-width: 1100px){
    #tituloInformacion {
        font-size: 45px;
        padding-top: 20px;
        padding-bottom: 20px;
     }

     .subTits {
        font-size: 21px;
    }

    .unirManoTexto img{
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }
    .unirManoTexto p {
        padding-left: 0;
    }

    .items p{
        font-size: 17px;
        text-align: center;
    }
    .items h3{
        font-size: 30px;
        padding: 0;
        margin: 0;
    }

    .lefties {
        min-width: 300px;
    } 
    .righties {
        min-width: 300px;
    }
}


@media (max-width: 700px){
    #tituloInformacion {
        font-size: 35px;
        padding-top: 20px;
        padding-bottom: 20px;
     }
     .subTits {
        font-size: 18px;
    }
    .items p{
        font-size: 16px;
        text-align: center;
    }
    .items h3{
        font-size: 25px;
    }

    .lefties {
        margin-left: 8%;
        min-width: 250px;
    } 
    .righties {
        min-width: 250px;
        margin-left: 45%;
        padding-right: 0;
    }
    
}



/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */



/* ADOPCIONES */



#bodyAdopciones{
    padding: 0;
    background-image: url("../images/fondoPastel4.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
}



.seccionAdopciones{
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30vw 22vw;
    background-color: rgba(207, 188, 190, 0.452);
    padding-bottom: 0.4%;
}

.seccionAdopciones .card{
    border-radius: 20px;
    width: 15rem;
    margin-bottom: 30px;
}

#Estilo{
    margin-bottom: 40px;
    padding-top: 30px;
    font-family: "Architects Daughter", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    animation-name: animacion4;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}


.primeraFila{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.botoncitoAdopciones{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.botoncitoAdopciones a{
    background-color: #bc781f;
}

.botoncitoAdopciones a:hover{
    background-color: #bd863d;
}

.segundaFila{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}


.segundaFilaUno{
    margin-right: 45%;
}

.primeraFila .card-body{
    background-color: #ba9c76;
    font-family: "Kanit", sans-serif;
}

.segundaFila .card-body{
    background-color: #ba9c76;
    font-family: "Kanit", sans-serif;
}

@media (max-width: 1100px){
    #Estilo{
        font-size: 45px;
    }
    .seccionAdopciones .card{
        width: 14rem;
        margin-bottom: 20px;
    }

    .segundaFila{
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media (max-width: 700px){
    #Estilo{
        font-size: 40px;
    }
    .seccionAdopciones .card{
        width: 13rem;
    }
    .segundaFilaUno{
        margin-right: 20px;
    }
}


/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */



/* REFUGIOS */


.tituloRefugios{
    animation-name: animacion3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    padding-top: 30px;
    padding-bottom: 30px;
}

.EtiquetaRefu {
    background-color: rgba(214, 216, 104, 0.644);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 10% 20px 10%;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.EtiquetaRefu h2 {
    font-family: "Playwrite ES", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: start;
}

.RefuImg {
    width: 450px;
    padding-left: 3%;
}

.RefuImg img{
    border-radius: 30px;
    width: 80%;
    height: 80%;
}

.imagenEspecialRefugio img{
    max-height: 20%;
}

.EtiquetaRefu div {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    font-size: 25px;
}


.RefuDescrip {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.RefuDescrip2 {
    padding-right: 5%;
    padding-top: 0px;
    text-align: justify;
}

.RefuDescrip h2 {
    padding-bottom: 20px;
}

.RefuDescrip div {
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
}

.maps {
    padding-right: 10%;
}

.maps iframe{
    width: 120%;
    height: 110%;
    padding-top: 20px;
}


@media (max-width: 1100px){
    .RefuImg {
        width: 350px;
        padding: 0;
        text-align: center;
        margin-bottom: 30px;
    }
    .RefuDescrip {
        text-align: center;
    }

    .RefuDescrip2{
        padding: 0;
    }

    .maps {
        padding-right: 0;
    }

    .maps iframe{
        width: 110%;
        height: 100%;
    }

    .RefuDescrip h2 {
        font-size: 40px;
        text-align: center;
    }

    .RefuDescrip div {
        font-size: 25px;
    }
}


@media (max-width: 700px){
    .RefuImg {
        width: 300px;
        
    }

    .maps iframe{
        width: 100%;
        height: 90%;
    }

    .RefuDescrip h2 {
        font-size: 30px;
    }
    .RefuDescrip div {
        font-size: 20px;
    }
}